Package: portainerImporter
Version: 0.200-0
Architecture: amd64
Maintainer: J.F.Gratton <nexus@famillegratton.net>
Description: Import docker image tarball in Portainer
 Custom tool to import a docker image in tarball form in a Portainer host back-end
Section: Administration Utilities
Depends: gcc
