Package: portainerImporter
Version: 1.00.00-0
Architecture: amd64
Maintainer: J.F. Gratton <jean-francois@famillegratton.net>
Description: Import docker images to PortainerCE
Section: Docker utils
Depends: 

